@import './src/styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@100;200;300;400;500;600;700&display=swap');
@import './src/styles/ant-override.scss';
$rubik: Rubik,
"sans-serif";
html,
body {
    color: $primaryText;
    padding: 0;
    margin: 0;
    background-color: #fff;
}

body,
*,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $rubik;
    font-weight: normal;
}

a,
h1 {
    margin-bottom: 0;
    color: $main-black;
    text-transform: uppercase;
}

.make-me-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 130px;
}

a:hover {
    color: $main-green;
}

label {
    font-weight: 700;
}

#__next {
    background-color: rgb(255, 255, 255);
}

#components-layout-demo-fixed .logo {
    width: 120px;
    height: 31px;
    background: white;
    margin: 16px 24px 16px 0;
    float: left;
}

#nprogress {
    .bar {
        background: $secondary-white !important;
        height: 5px !important;
    }
}

.site-layout {
    margin-top: 64px;
    padding-top: 15px;
    padding-bottom: 15px;
    height: calc(100vh - 64px);
    .site-layout-background {
        min-height: 340px;
    }
}

.ant-layout-header {
    background-color: $main-green;
    border: 0;
    .ant-menu-dark {
        background-color: $main-green;
        height: 80px;
        li {
            height: inherit;
            &.ant-menu-item-selected {
                background-color: lighten($main-green, 8) !important;
            }
            &:hover {
                background-color: lighten($main-green, 8) !important;
            }
        }
    }
}

.hoverCursor {
     :hover {
        cursor: pointer;
        text-decoration: underline;
        p {
            text-decoration: underline;
        }
    }
}

.ant-layout-footer {
    background-color: rgb(255, 255, 255);
}

.CheckOut {
    font-size: 24px;
    background-color: rgb(230, 230, 230);
    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    &__infor {
        border-bottom: 1px solid $main-black;
        margin-bottom: 20px;
    }
    &__totals {
        text-align: right;
        padding-right: 20px;
    }
    &__product:last-child {
        margin-bottom: 20px;
        border-bottom: 1px solid $main-black;
    }
}

.Contacts {
    font-size: 24px;
    background-color: rgb(230, 230, 230);
}