.ant-layout {
    background-color: #fff;
}

.ant-layout-header {
    background-color: #fff;
}

.ant-layout-sider {
    background-color: #fff;
}

.ant-drawer {
    .ant-drawer-mask {
        z-index: 9998;
    }
    .ant-drawer-content-wrapper {
        z-index: 9999;
    }
}