@import './variables.scss';

::selection {
    background: $main-green;
}

html {
    --antd-wave-shadow-color: $main-green;
}

.ant-layout {
    background-color: #fff;
}

.ant-layout-header {
    background-color: #fff;
}

.ant-layout-sider {
    background-color: #fff;
}

.ant-drawer {
    .ant-drawer-mask {
        z-index: 9998;
    }
    .ant-drawer-content-wrapper {
        z-index: 9999;
    }
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #f4fff4 !important;
}

.ant-menu-item-selected {
    color: $main-green;
}

.ant-menu-inline .ant-menu-item::after {
    border-right: 3px solid $main-green;
}

.ant-btn-primary {
    background: $main-green !important;
    border-color: $main-green !important;
}

.ant-btn-primary:hover {
    background: $main-green;
    border-color: $main-green;
}

.ant-pagination-item-active a {
    border-color: $main-green ;
}