$main-blue: #1b6eef;
$main-green: #7dd181;
$main-red: #952038;
$main-gold: #c0a265;
$main-white: rgb(255, 255, 255);
$text-color: #58595B;
$main-black: black;
$secondary-white: #c7c7c7;
$primary: green;
$secondary: orange;
$accent: yellowgreen;
$primary: green;
$secondary: orange;
$accent: yellowgreen;
$primaryText: #0A0A0A;
$secondaryText: $primary;
:root {
    --bs-font-sans-serif: 'Rubik, sans-serif'; 
    --bs-primary: $main-green;
}
